@import '../setting.scss';
@import '../color.scss';

.list {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  list-style: none;

  .listItem {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    font-size: $font-size-3xl;
    font-weight: bold;
  }

  .dates {
    font-size: $font-size-sm;

    span {
      display: inline-block;

      img {
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
      }
    }

    span:first-child {
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 519px) {
  .list {
    .title {
      font-size: $font-size-lg;
    }

    .dates {
      font-size: $font-size-xxs;
    }
  }
}
