@import '../setting.scss';
@import '../color.scss';

.list {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  list-style: none;

  .listItem {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    font-size: $font-size-3xl;
    font-weight: bold;
  }

  .dates {
    margin: 1.4rem 0;
    font-size: $font-size-sm;

    span {
      display: inline-block;
      vertical-align: baseline;

      .text {
        margin-left: 4px;
        vertical-align: text-bottom;
      }
    }

    span:first-child {
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 519px) {
  .list {
    .title {
      font-size: $font-size-lg;
    }

    .dates {
      margin: 0.5rem 0;
      font-size: $font-size-xxs;

      .img {
        transform: translateY(2px) scale(0.8);
      }
    }
  }
}
