@import '../../styles/setting.scss';
@import '../../styles/color.scss';

.container {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 44px;
  background: #e6f2ff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 6rem;
  background: #fff;
  border-bottom: 1px solid $color-light-gray;

  & h1 {
    margin: 0;
    font-size: $font-size-5xl;
  }

  & p {
    font-size: $font-size-md;
  }
}

.main {
  display: flex;
  gap: 5rem;
  justify-content: center;
  width: 85%;
  max-width: 1160px;
  min-height: 700px;
  margin: 3rem auto;
}

.article {
  width: 65%;
  padding: 3rem;
  background: #fff;
  border-bottom: 1px solid $color-light-gray;
  border-radius: 20px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: 300px;

  & h6 {
    margin: 1rem 0;
    font-size: $font-size-sm;
  }
}

.profile {
  padding: 1.5rem 2rem;
  background: #fff;
  border-bottom: 1px solid $color-light-gray;
  border-radius: 20px;

  .leftItem {
    text-align: center;
  }

  .profileImg {
    width: 8rem;
    height: auto;
    margin: 0 auto;
  }

  .name {
    margin-top: 0.6rem;
    font-size: $font-size-lg;
    text-align: center;
  }

  .description {
    margin: 1rem 0;
    font-size: $font-size-sm;
  }
}

.backToHome {
  margin: 3rem 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: $font-size-sm;
  text-align: center;
  background: #fff;
  border-top: 1px solid $color-light-gray;
}

@media screen and (max-width: 959px) {
  .header {
    flex-direction: column;

    & p {
      margin-top: 0;
      font-size: $font-size-sm;
    }
  }

  .main {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: initial;
    width: 70%;
  }

  .article {
    width: 100%;
  }

  .sidenav {
    width: 100%;
  }

  .profile {
    .profileWrap {
      display: flex;
      align-items: center;
    }

    .leftItem {
      min-width: 105px;
    }

    .profileImg {
      width: 5.8rem;
    }

    .name {
      margin-bottom: 0;
      font-size: $font-size-sm;
    }
  }
}

@media screen and (max-width: 519px) {
  .header {
    padding: 0.5rem 3rem;

    & h1 {
      font-size: $font-size-4xl;
    }

    & p {
      font-size: $font-size-xs;
    }
  }

  .main {
    width: 80%;
  }

  .profile {
    .profileWrap {
      display: unset;
    }

    .description {
      font-size: $font-size-xs;
    }
  }
}
