@import '../../styles/setting.scss';
@import '../../styles/color.scss';

.container {
  h1 {
    margin: 0.8rem 0;
    font-size: $font-size-4xl;
  }

  h2 {
    padding-left: 7px;
    margin-top: 40px;
    font-size: $font-size-3xl;
    border-left: solid 3px $color-blue;
  }

  h3 {
    margin-top: 30px;
    font-size: $font-size-2xl;
    border-bottom: solid 1px $color-light-gray2;
  }

  .dates {
    font-size: $font-size-sm;

    span {
      display: inline-block;

      img {
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
      }
    }

    span:first-child {
      margin-right: 2rem;
    }
  }

  .contents {
    font-size: $font-size-lg;
  }
}

@media screen and (max-width: 959px) {
  .container {
    h1 {
      font-size: $font-size-xl;
    }

    h2 {
      font-size: $font-size-lg;
    }

    h3 {
      font-size: $font-size-md;
    }

    .contents {
      font-size: $font-size-sm;
    }
  }
}
