@import '../styles/color.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    'Helvetica Neue',
    'Helvetica',
    'Hiragino Sans',
    'Hiragino Kaku Gothic ProN',
    'Arial',
    'Yu Gothic',
    'Meiryo',
    sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
  color: $color-black;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: 0.25s;
}

img {
  display: block;
  max-width: 100%;
}
