//font-settings
$font-size-5xl: 40px;
$font-size-4xl: 30px;
$font-size-3xl: 24px;
$font-size-2xl: 22px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-xxs: 10px;
